<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="changepin"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('confirmpin?language=' + selectedOption);
                }
            });
        });
    </script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:text="#{home}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="https://www.ubs.com/global/en/our-firm/locations.html"
               th:text="#{contact}"></a>
            <a class="nav-item nav-link active" href="https://www.ubs.com/global/en/our-firm.html"
               th:text="#{about}"></a>
        </div>
        <div class="nav navbar-nav ml-auto">
            <a class="nav-item pr-3" th:text="#{lang}" style="color: white"></a>
        </div>
        <select id="locales" class="dropdown custom-select col-1">
            <option value=""></option>
            <option value="en" th:text="#{lang.en}"></option>
            <option value="de" th:text="#{lang.de}"></option>
            <option value="fr" th:text="#{lang.fr}"></option>
        </select>
    </div>
</nav>
<div class="p-3">
    <a href="/">
        <img src="/images/UBS-Logo.png" width="150px" alt="UBS Logo">
    </a>
</div>
<div class="container mx-auto my-5" style="width:600px">
    <div class="row">
        <form action="#" th:action="@{/confirmpin}"
              th:object="${card}" method="post" class="pt-3">
            <div class="form-group">
                <label for="pin" th:text="#{enter_new_pin_again}" style="font-size: 1.5em;"></label>
                <div class="row">
                    <div class="col-6">
                        PIN:<input type="text" class="form-control" id="pin" th:field="*{pin}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-3">
                    <img src="/images/Enter-PIN.png" width="200px" alt="enter pin icon">
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-6">
                    <input type="reset" class="btn btn-warning" th:value="#{correct}"/>
                </div>
                <div class="col-6">
                    <input type="submit" class="btn btn-success" th:value="#{confirm}"/>
                </div>
            </div>
        </form>

    </div>
</div>
<footer class="row fixed-bottom">
    <div class="text-center  p-3" style="background-color: rgba(26,24,24,0.9); width: 100%; color: white">
        <small th:text="#{active_sessions}+ ${surveys.countOpenSessions} + #{total} + ${surveys.countOverall}"></small>
    </div>
</footer>
</body>
</html>
