<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Register"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"></link>
</head>
<body>
<div class="container mx-auto flex justify-content-center my-5" style="width:600px">
    <div class="row">
        <div class="col-12 pt-3">
            <img src="/images/UBS-Logo.png" width="100px" alt="UBS Logo">
        </div>
    </div>
    <form action="#" th:action="@{/register}"
          th:object="${kunde}" method="post" class="pt-3">
        <h3>Bitte Registrieren Sie sich</h3>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="nachname"> Nachname:</label>
                    <input type="text" class="form-control" id="nachname" th:field="*{nachname}"/>
                    <b th:if="${#fields.hasErrors('nachname')}" th:errors="*{nachname}" style="color:red"/>

                </div>
                <div class="col-6">
                    <label for="vorname"> Vorname:</label>
                    <input type="text" class="form-control" id="vorname" th:field="*{vorname}"/>
                    <b th:if="${#fields.hasErrors('vorname')}" th:errors="*{vorname}" style="color:red"/>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="email"> Email:</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}"/>
                    <b th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"/>

                </div>
                <div class="col-6">
                    <label for="tel"> Telefonnummer:</label>
                    <input type="text" class="form-control" id="tel" th:field="*{telefonnummer}"/>
                    <b th:if="${#fields.hasErrors('telefonnummer')}" th:errors="*{telefonnummer}" style="color:red"/>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="str"> Strasse-Nr:</label>
                    <input type="text" class="form-control" id="str" th:field="*{strasseNummer}"/>
                    <b th:if="${#fields.hasErrors('strasseNummer')}" th:errors="*{strasseNummer}" style="color:red"/>

                </div>
                <div class="col-6">
                    <label for="plz"> PLZ:</label>
                    <input type="text" class="form-control" id="plz" th:field="*{plz}"/>
                    <b th:if="${#fields.hasErrors('plz')}" th:errors="*{plz}" style="color:red"/>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="ort"> Ort:</label>
                    <input type="text" class="form-control" id="ort"
                           th:field="*{ort}"/>
                    <b th:if="${#fields.hasErrors('ort')}" th:errors="*{ort}" style="color:red"/>

                </div>
                <div class="col-6">
                    <label for="land"> Land:</label>
                    <input type="text" class="form-control" id="land" th:field="*{land}"/>
                    <b th:if="${#fields.hasErrors('land')}" th:errors="*{land}" style="color:red"/>

                </div>
            </div>
        </div>
        <div class="flex-row">
            <input type="submit" class="btn btn-success" value="Bestätigen"/>
        </div>
    </form>
    <footer class="row">
        <div class="col-12 pt-3">
            <p>
                <a href="/">Home</a>
                <a href="https://www.ubs.com/global/en/our-firm.html">About</a>
                <a href="https://www.ubs.com/global/en/our-firm/locations.html">Contact</a>
            </p>
            <small th:text="'ATM-Session aktiv:'+ ${surveys.countOpenSessions} + '/ Total:' + ${surveys.countOverall}"></small>
        </div>
    </footer>
</div>
</body>
</html>